.footer {
  background-color: black;
  padding: 20px 0px;
  margin: auto;
  justify-content: center;
  text-align: center;
}
.footer p {
  color: rgb(206, 209, 211);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}
